<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Tài khoản</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
   </head>
   <body>
      <div class="container">
         <div class="table-responsive">
            <div class="table-wrapper">
               <div class="table-title">
                  <div class="row">
                     <div class="col-sm-8">
                        <h2 style="font-size:30px;">Tài khoản</h2>
                     </div>
                     <div class="col-sm-4">
                        <div class="search-box">
                           <i class="material-icons">&#xE8B6;</i>
                           <input type="text" [(ngModel)]="searchedKeyword" class="form-control" placeholder="Search&hellip;">
                        </div>
                     </div>
                     <button (click)="initModal({},'add')" type="button" class="btn btn-primary" ><i class="fas fa-user-plus"></i>Thêm tài khoản</button>
                     <button
                     type="button"
                     [hidden]="isDelete"
                     (click)="xoataikhoan()"
                     class="btn btn-danger"
                     >
                     <i class="fa fa-window-close" aria-hidden="true"></i> Xóa
                     </button>
                     &nbsp;
                     &nbsp;
                     <select (change)="changeStatus($event.target.value)" class="custom-select col-md-4 col-lg-4 col-sm-12">
                        <option [selected]="isSelected" disabled>--Chọn trạng thái--</option>
                        <option value="-1">Tất cả</option>
                        <option value="1">Chưa xóa</option>
                        <option value="0">Đã xóa</option>
                     </select>
                  </div>
               </div>
               <div class="row">
               <div class="col-12">
               <table class="table table-striped table-hover table-bordered ">
                  <thead>
                     <tr>
                        <th scope="col">
                           <input
                           type="checkbox"
                           [checked]="isAllCheckBoxChecked()"
                           (change)="checkAllCheckBox($event)"
                           />
                        <th>STT</th>
                        <th>Mã tài khoản</th>
                        <th>Tên đăng nhập</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                     </tr>
                     <tr
                        *ngFor="
                        let e of listFilterResult  | filter: searchedKeyword | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;
                        let i = index
                        "
                        >
                        <td>
                           <input
                           type="checkbox"
                           [(ngModel)]="listFilterResult[i].checked"
                           (ngModelChange)="changeModel()"
                           value="{{ e.ma_tai_khoan }}"
                           />
                        <td>{{ i + 1 }}</td>
                        <td [innerHTML]="e.ma_tai_khoan | highlight : searchedKeyword"></td>
                        <td [innerHTML]="e.ten_dang_nhap | highlight : searchedKeyword"></td>
                        <td [innerHTML]="e.dia_chi | highlight : searchedKeyword"></td>
                        <td [innerHTML]="e.so_dien_thoai | highlight : searchedKeyword"></td>
                        <td class="justify-content-center">
                           <div class="status"
                              style="background-color: green; height: 30px;width: 70%;text-align: center; border-radius: 5px;line-height: 30px;vertical-align: middle;"
                              *ngIf="e.isActive===1">Chưa xóa
                           </div>
                           <div class="status"
                              style="background-color: red;height: 30px;width: 70%;text-align: center; border-radius: 5px;line-height: 30px;vertical-align: middle;"
                              *ngIf="e.isActive===0">Đã xóa
                           </div>
                        </td>
                        <td>
                           <ng-template #mymodal let-modal>
                              <div class="modal-header">
                                 <h4 class="modal-title" id="modal-basic-title">
                                    Xác nhận xóa thông tin
                                 </h4>
                                 <button
                                    type="button"
                                    class="close"
                                    aria-label="Close"
                                    (click)="modal.dismiss('Cross click')"
                                    >
                                 <span aria-hidden="true">x</span>
                                 </button>
                              </div>
                              <div class="modal-body">
                                 Bạn có chắc chắn muốn xóa thông tin của {{ e.email }} ?
                              </div>
                              <div class="modal-footer">
                                 <button
                                    class="btn btn-danger"
                                    style="width: 80px"
                                    (click)="xoataikhoan(e.ma_tai_khoan)"
                                    >
                                 Có
                                 </button>
                                 <button
                                    class="btn btn-outline-dark"
                                    style="width: 80px"
                                    (click)="modal.dismiss('Cross click')"
                                    >
                                 Không
                                 </button>
                              </div>
                           </ng-template>
                           <div class="row justify-content-center">
                              <button (click)="initModal(e,'show')"  class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></button>
                              <button (click)="initModal(e,'edit')"  class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></button>
                              <button class="delete"  (click)="open(mymodal)" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></button>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="ngb">
               <ngb-pagination [ellipses]="true" [rotate]="true" [boundaryLinks]="true" [(page)]="page"
               [pageSize]="pageSize" [collectionSize]="listFilterResult.length"></ngb-pagination>
            </div>
         </div>
      </div>
       </div>
      </div>
   </body>
</html>
<app-capnhattaikhoan [danhsachtaikhoan]="danhsachtaikhoan" (eventEmit)="ngOnInit()" ></app-capnhattaikhoan>